# Working with APIs and Json data
*** 
## Learning Objectives

Here's an example of calling an API in Python. This is the same API that we called in the previous section, but this time we're using Python instead of Postman.

In [3]:
import requests

url = "https://catfact.ninja/fact"

payload = {}
response = requests.request("GET", url, data = payload)

print(response.text.encode('utf8'))

b'{"fact":"The average litter of kittens is between 2 - 6 kittens.","length":55}'

Notice that the code above is returned in JSON format. The `b` in front of the string indicates that it is a `bytes` object. We can use the `json` library to convert this to a Python dictionary.

In [4]:
import requests
import json
# Code from the previous section
url = "https://catfact.ninja/fact"

payload = {}
response = requests.request("GET", url, data = payload)
print(response.text)

# Parse the JSON response into a Python dictionary
fact_data = json.loads(response.text)

# pretty print the dictionary
print(json.dumps(fact_data, indent=4))

# Get the value of the fact key
fact = fact_data['fact']

# Print the fact
print(fact)

{"fact":"The average litter of kittens is between 2 - 6 kittens.","length":55}
{
    "fact": "The average litter of kittens is between 2 - 6 kittens.",
    "length": 55
}
The average litter of kittens is between 2 - 6 kittens.

Say we want to get the value of `title` from the JSON data below. We can do this by using the `json` module's `loads` method:

In [5]:
import json

# Your JSON data
json_data = {
    "glossary": {
        "title": "example glossary",
        "GlossDiv": {
            "title": "S",
            "GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
                    "SortAs": "SGML",
                    "GlossTerm": "Standard Generalized Markup Language",
                    "Acronym": "SGML",
                    "Abbrev": "ISO 8879:1986",
                    "GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
                        "GlossSeeAlso": ["GML", "XML"]
                    },
                    "GlossSee": "markup"
                }
            }
        }
    }
}

# Accessing the value of the "title" key
title_value = json_data["glossary"]["title"]

print(title_value)

example glossary

Notice that we reference the JSON data by its key name, i.e. `glossary` and then, within the `glossary` key, we reference the `title` key. 
```python
json_data["glossary"]["title"]
```

Say we need to access `GlossSeeAlso` key. We can do so by using the following code:
```python
json_data["glossary"]["GlossDiv"]["GlossList"]["GlossEntry"]["GlossSeeAlso"]
```
The values look a bit different - note the square brackets. This is because the value of the `GlossSeeAlso` key is a list of values. We therefore need to iterate over them. Here is the code:

In [6]:
import json

# Your JSON data
json_data = {
    "glossary": {
        "title": "example glossary",
        "GlossDiv": {
            "title": "S",
            "GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
                    "SortAs": "SGML",
                    "GlossTerm": "Standard Generalized Markup Language",
                    "Acronym": "SGML",
                    "Abbrev": "ISO 8879:1986",
                    "GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
                        "GlossSeeAlso": ["GML", "XML"]
                    },
                    "GlossSee": "markup"
                }
            }
        }
    }
}

# Accessing all the values of the "GlossSeeAlso" key within "GlossEntry"
gloss_see_also_values = json_data["glossary"]["GlossDiv"]["GlossList"]["GlossEntry"]["GlossDef"]["GlossSeeAlso"]

for value in gloss_see_also_values:
    print(value)

GML
XML

### JSON to Pandas DataFrame

In [12]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Info": [
        {"City": "New York", "Country": "USA"},
        {"City": "Los Angeles", "Country": "USA"},
        {"City": "Chicago", "Country": "USA"}
    ]
}

df = pd.DataFrame(data)
df

      Name  Age                                       Info
0    Alice   25     {'City': 'New York', 'Country': 'USA'}
1      Bob   30  {'City': 'Los Angeles', 'Country': 'USA'}
2  Charlie   35      {'City': 'Chicago', 'Country': 'USA'}

In [13]:
df["City"] = df["Info"].apply(lambda x: x["City"])
df

      Name  Age                                       Info         City
0    Alice   25     {'City': 'New York', 'Country': 'USA'}     New York
1      Bob   30  {'City': 'Los Angeles', 'Country': 'USA'}  Los Angeles
2  Charlie   35      {'City': 'Chicago', 'Country': 'USA'}      Chicago