# Working with APIs and Json data
*** 
## Learning Objectives

In [2]:
my_list = [1, 2, 3, 4, 5]

# Iterate over the list 
for i in my_list:
    print(i)


# Add a value to the list
my_list.append(6)

# Print the list
print(my_list)

1
2
3
4
5
[1, 2, 3, 4, 5, 6]

In [3]:
string_list = ["apple", "banana", "cherry", "date"]
print(string_list)

['apple', 'banana', 'cherry', 'date']

In [4]:
# Create a list of lists 
list_of_lists = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h','i']]
# Print the first element in the first sublist
print(list_of_lists[0][0])
# Print the second element in the second sublist
print(list_of_lists[1][1])

a
e

In [6]:
string_list = ["apple", "banana", "cherry", "date"]
# print(string_list[0])
print(string_list[1])

banana

In [7]:
# Create a list of dictionaries
person1 = {"name": "Alice", "age": 30, "city": "New York"}
person2 = {"name": "Bob", "age": 25, "city": "Los Angeles"}
person3 = {"name": "Charlie", "age": 40, "city": "Chicago"}

people_list = [person1, person2, person3]

# Print the list
print(people_list)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}, {'name': 'Charlie', 'age': 40, 'city': 'Chicago'}]

In [8]:
person1

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [10]:
# Get the name of person1
person1["name"]

30

In [ ]:

# Get the age of person1
person1["age"]

In [11]:
person1["city"]

'New York'

In [12]:
# Create a name with double quotes
name = "John"
print(name)

John

In [13]:
#Create a name with single quotes
name = 'John'

In [15]:
# Create a number 
number = 10

# Print the number
print(number)

10

In [ ]:
# Create a floating point number
float(390.8)

In [17]:
from decimal import Decimal

num1 = Decimal("0.1")
num2 = Decimal("0.2")
result = num1 + num2
print(result)  # Outputs exactly 0.3

0.3