# Lists, dictionaries and data types
*** 
## Learning Objectives
* Lists
* Dictionaries
* Data types

### Lists

In [10]:
my_list = [1, 2, 3, 4, 5]

# Iterate over the list 
for i in my_list:
    print(i)


# Add a value to the list
my_list.append(6)

# Print the list
print(my_list)

1
2
3
4
5
[1, 2, 3, 4, 5, 6]

In [11]:
string_list = ["apple", "banana", "cherry", "date"]
print(string_list)

['apple', 'banana', 'cherry', 'date']

In [12]:
# Create a list of lists 
list_of_lists = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h','i']]
# Print the first element in the first sublist
print(list_of_lists[0][0])
# Print the second element in the second sublist
print(list_of_lists[1][1])

a
e

In [ ]:
string_list = ["apple", "banana", "cherry", "date"]
# print(string_list[0])
print(string_list[1])

### Lists and Dictionaries

In [6]:
# Create a list of dictionaries
person1 = {"name": "Alice", "age": 30, "city": "New York"}
person2 = {"name": "Bob", "age": 25, "city": "Los Angeles"}
person3 = {"name": "Charlie", "age": 40, "city": "Chicago"}

people_list = [person1, person2, person3]

# Print the list
print(people_list)

[{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}, {'name': 'Charlie', 'age': 40, 'city': 'Chicago'}]

In [7]:
# Pretty print the list
import pprint
pprint.pprint(people_list)

[{'age': 30, 'city': 'New York', 'name': 'Alice'},
 {'age': 25, 'city': 'Los Angeles', 'name': 'Bob'},
 {'age': 40, 'city': 'Chicago', 'name': 'Charlie'}]

In [8]:
# Get the city of the first person in the list
print(people_list[0]["city"])

New York

In [9]:
# Get all the names from the list
for person in people_list:
    print(person["name"])

Alice
Bob
Charlie

### Dictionaries

In [19]:
person1 = {"name": "Alice", "age": 30, "city": "New York"}

person1

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [20]:
person1["name"]

'Alice'

In [21]:
#  Get all the values in the person1 
for value in person1.values():
    print(value)

Alice
30
New York

In [22]:
#  Get all the keys in the person1
for key in person1.keys():
    print(key)

name
age
city

### Data types

In [6]:
#Create a name with single quotes
name = 'John'

name = "John"

print(name)

John

In [7]:
# Create a number 
number = 10

# Print the number
print(number)

10

In [8]:
# Create a floating point number
f = float(390.8)

print(f)

390.8

In [9]:
from decimal import Decimal

num1 = Decimal("0.1")
num2 = Decimal("0.2")
result = num1 + num2
print(result)  # Outputs exactly 0.3

0.3

### Lambdas

In [12]:
# Lambda function
square_lambda = lambda x: x**2

# Regular function
def square_func(x):
    return x**2

In [13]:
# Use the lambda function
result_lambda = square_lambda(5)

print(result_lambda)  # Output: 25

# Use the regular function
result_func = square_func(5)
print(result_func)  # Output: 25

25
25

In [ ]:
# Lambda function
even_lambda = lambda lst: list(filter(lambda x: x % 2 == 0, lst))

# Regular function
def even_func(lst):
    result = []
    for num in lst:
        if num % 2 == 0:
            result.append(num)
    return result

In [14]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use the lambda function
even_numbers_lambda = even_lambda(numbers)
print(even_numbers_lambda)  # Output: [2, 4, 6, 8, 10]

# Use the regular function
even_numbers_func = even_func(numbers)
print(even_numbers_func)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]